:root {
  --color-bone-50: #ffffff;
  --color-bone-100: #ffffff;
  --color-bone-200: #ffffff;
  --color-bone-300: #fbfaf8;
  --color-bone-400: #f1ede6;
  --color-bone-500: #e4dccf;
  --color-bone-600: #d7cbb8;
  --color-bone-700: #c0ad8f;
  --color-bone-800: #b39d78;
  --color-bone-900: #a68c61;
  --color-bone-base: #E4DCCF;
  --color-old-50: #ffffff;
  --color-old-100: #ffffff;
  --color-old-200: #ffffff;
  --color-old-300: #ffffff;
  --color-old-400: #ffffff;
  --color-old-500: #f9f5eb;
  --color-old-600: #f1e7d0;
  --color-old-700: #e2cf9e;
  --color-old-800: #dac183;
  --color-old-900: #d1b367;
  --color-old-base: #F9F5EB;
  --color-fire-50: #fdeded;
  --color-fire-100: #f9cdcd;
  --color-fire-200: #f5adad;
  --color-fire-300: #f18d8e;
  --color-fire-400: #ee7475;
  --color-fire-500: #ea5455;
  --color-fire-600: #e63435;
  --color-fire-700: #c21819;
  --color-fire-800: #a21415;
  --color-fire-900: #831011;
  --color-fire-base: #EA5455;
  --color-cool-50: #077cff;
  --color-cool-100: #006be3;
  --color-cool-200: #005abf;
  --color-cool-300: #00499b;
  --color-cool-400: #003c7f;
  --color-cool-500: #002b5b;
  --color-cool-600: #001a37;
  --color-cool-700: #000000;
  --color-cool-800: #000000;
  --color-cool-900: #000000;
  --color-cool-base: #002B5B;
}